<section class="edit-profile-section" *transloco="let t; prefix: 'account.edit'">
  <div class="main-content">
    @if (account$ | async) {
      <div class="card">
        <form [formGroup]="formGroup" class="form" (ngSubmit)="update()">
          <h2>{{ t('card.title') }}</h2>

          <hr class="bar" />

          <div class="card-content">
            <span class="full-width subtitle">{{ t('card.subtitle') }}</span>

            <h3 class="full-width">{{ t('card.section.personalData') }}</h3>

            <div class="form-field full-width">
              <label>{{ t('card.label.fullName') }}</label>
              <input
                class="form-input"
                formControlName="fullName"
                type="text"
                [placeholder]="t('card.placeholder.fullName')"
                autocomplete="name"
              />
              @if (fullName?.errors?.['required'] && fullName?.dirty) {
                <span class="error-message">{{ t('card.errors.fullNameRequired') }}</span>
              } @else if (fullName?.errors?.['minlength'] && fullName?.dirty) {
                <span class="error-message">{{ t('card.errors.fullNameLength') }}</span>
              } @else if (fullName?.errors?.['pattern'] && fullName?.dirty) {
                <span class="error-message">{{ t('card.errors.fullNameInvalid') }}</span>
              }
            </div>

            <div class="form-field">
              <label>{{ t('card.label.email') }}</label>
              <input
                class="form-input"
                formControlName="email"
                type="email"
                [placeholder]="t('card.placeholder.email')"
                autocomplete="email"
              />
              @if (email?.errors?.['required'] && email?.touched) {
                <span class="error-message">{{ t('card.errors.emailRequired') }}</span>
              } @else if (email?.errors?.['email'] && email?.touched) {
                <span class="error-message">{{ t('card.errors.emailInvalid') }}</span>
              }
            </div>

            <div class="form-field">
              <label>{{ t('card.label.phoneNumber') }}</label>
              <input
                class="form-input"
                formControlName="phoneNumber"
                type="tel"
                [placeholder]="t('card.placeholder.phoneNumber')"
              />
              @if (phoneNumber?.errors?.['required'] && phoneNumber?.dirty) {
                <span class="error-message">{{ t('card.errors.phoneNumberRequired') }}</span>
              } @else if (phoneNumber?.errors?.['pattern'] && phoneNumber?.dirty) {
                <span class="error-message">{{ t('card.errors.phoneNumberInvalid') }}</span>
              }
            </div>

            <div class="form-field full-width">
              <label>{{ t('card.label.document') }}</label>
              <input
                class="form-input"
                formControlName="document"
                type="text"
                [placeholder]="t('card.placeholder.document')"
              />
              @if (document?.errors?.['pattern'] && document?.dirty) {
                <span class="error-message">{{ t('card.errors.documentInvalid') }}</span>
              }
            </div>

            <h3 class="full-width">{{ t('card.section.addressData') }}</h3>

            <div class="form-field">
              <label>{{ t('card.label.state') }}</label>
              <input
                class="form-input"
                formControlName="state"
                type="text"
                [placeholder]="t('card.placeholder.state')"
              />
            </div>

            <div class="form-field">
              <label>{{ t('card.label.city') }}</label>
              <input
                class="form-input"
                formControlName="city"
                type="text"
                [placeholder]="t('card.placeholder.city')"
              />
            </div>

            <div class="form-field full-width">
              <label>{{ t('card.label.neighborhood') }}</label>
              <input
                class="form-input"
                formControlName="neighborhood"
                type="text"
                [placeholder]="t('card.placeholder.neighborhood')"
              />
            </div>

            <div class="form-field">
              <label>{{ t('card.label.street') }}</label>
              <input
                class="form-input"
                formControlName="street"
                type="text"
                [placeholder]="t('card.placeholder.street')"
              />
            </div>

            <div class="form-field">
              <label>{{ t('card.label.number') }}</label>
              <input
                class="form-input"
                formControlName="number"
                type="text"
                [placeholder]="t('card.placeholder.number')"
              />
            </div>
          </div>

          <div class="buttons">
            <gs-buttons
              [buttonType]="buttonType.Link"
              [text]="t('card.buttons.back')"
              routerLink="/account"
            ></gs-buttons>

            <gs-buttons
              [buttonType]="buttonType.Default"
              [text]="t('card.buttons.confirm')"
              type="submit"
              [disabled]="formGroup.invalid || formGroup.pristine"
              (click)="update()"
            ></gs-buttons>
          </div>
        </form>
      </div>
    }
  </div>
</section>
