@use '../../../../styles/variables' as *;
@use '../../../../styles/form-layout' as *;

.card-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}
