## Block IDE environment files

.idea
.vs
.vscode
/client/src/environments/environment.development.ts
/web-admin/src/environments/environment.development.ts
/web-portal/src/environments/environment.development.ts
