<section class="delete-section" *transloco="let t; prefix: 'clients.delete'">
  <div class="main-content">
    <div class="card">
      <form class="form" (ngSubmit)="delete()">
        <h2>{{ t('card.title') }}</h2>
        <hr class="bar" />
        <div class="card-content">
          <span>{{ t('card.subtitle') }}</span>

          <h3 class="warning-text">{{ t('card.section.warning') }}</h3>

          @if (client$ | async; as client) {
            <div class="details-section">
              <h3>{{ t('card.section.details') }}</h3>

              <p>
                <strong>{{ t('card.label.fullName') }}: </strong>
                <span>{{ client.fullName }}</span>
              </p>

              <p>
                <strong>{{ t('card.label.document') }}: </strong>
                <span>{{ client.document }} ({{ client.type }})</span>
              </p>

              <p>
                <strong>{{ t('card.label.email') }}: </strong>
                <span>{{ client.email }}</span>
              </p>

              <p>
                <strong>{{ t('card.label.phoneNumber') }}: </strong>
                <span>{{ client.phoneNumber }}</span>
              </p>

              <hr />

              <h3>{{ t('card.section.addressSummary') }}</h3>

              <p>
                <strong>{{ t('card.label.street') }}: </strong>
                <span>{{ client.address.street }}</span>
              </p>

              <p>
                <strong>{{ t('card.label.neighborhood') }}: </strong>
                <span>{{ client.address.neighborhood }}</span>
              </p>

              <p>
                <strong>{{ t('card.label.number') }}: </strong>
                <span>{{ client.address.number }}</span>
              </p>

              <p>
                <strong>{{ t('card.label.cityState') }}: </strong>
                <span>{{ client.address.city }} / {{ client.address.state }}</span>
              </p>
            </div>
          }
        </div>
        <div class="buttons">
          <gs-buttons
            [buttonType]="buttonType.Link"
            [text]="t('card.buttons.back')"
            routerLink="/clients"
          ></gs-buttons>

          <gs-buttons
            [buttonType]="buttonType.Default"
            [text]="t('card.buttons.confirm')"
            type="submit"
            color="#ff7675"
            hoverColor="#e45757"
            (click)="delete()"
          ></gs-buttons>
        </div>
      </form>
    </div>
  </div>
</section>
