<section class="register-section" *transloco="let t; prefix: 'auth.register'">
  <div class="main-content">
    <div class="card">
      <form [formGroup]="formGroup" class="form">
        <h2>{{ t('card.title') }}</h2>
        <hr class="bar" />
        <div class="card-content">
          <span>{{ t('card.subtitle') }}</span>

          <div class="form-field">
            <input
              class="form-input"
              formControlName="userName"
              type="text"
              placeholder="UserName"
              autocomplete="name"
            />
            @if (userName?.errors?.['required'] && userName?.dirty) {
              <span>{{ t('card.errors.usernameRequired') }}</span>
            }
            @if (userName?.errors?.['minlength'] && userName?.dirty) {
              <span>{{ t('card.errors.usernameLength') }}</span>
            }
          </div>

          <div class="form-field">
            <input
              class="form-input"
              formControlName="fullName"
              type="text"
              placeholder="Full name"
              autocomplete="name"
            />
            @if (fullName?.errors?.['required'] && fullName?.dirty) {
              <span>{{ t('card.errors.fullnameRequired') }}</span>
            }
            @if (fullName?.errors?.['minlength'] && fullName?.dirty) {
              <span>{{ t('card.errors.fullnameLength') }}</span>
            }
            @if (fullName?.errors?.['pattern'] && fullName?.dirty) {
              <span>{{ t('card.errors.fullnamePattern') }}</span>
            }
          </div>

          <div class="form-field">
            <input
              class="form-input"
              formControlName="email"
              type="email"
              placeholder="E-mail"
              autocomplete="email"
            />
            @if (email?.errors?.['required'] && email?.dirty) {
              <span>{{ t('card.errors.emailRequired') }}</span>
            }
            @if (email?.errors?.['email'] && email?.dirty) {
              <span>{{ t('card.errors.emailLength') }}</span>
            }
          </div>

          <div class="form-field">
            <input
              class="form-input"
              formControlName="phoneNumber"
              type="tel"
              placeholder="Phone number"
              autocomplete="tel"
            />
            @if (phoneNumber?.errors?.['required'] && phoneNumber?.dirty) {
              <span>{{ t('card.errors.phonenumberRequired') }}</span>
            }
            @if (phoneNumber?.errors?.['pattern'] && phoneNumber?.dirty) {
              <span>{{ t('card.errors.phonenumberPattern') }}</span>
            }
          </div>

          <div class="form-field">
            <input
              class="form-input"
              formControlName="password"
              type="password"
              placeholder="Password"
              autocomplete="new-password"
            />
            @if (password?.errors?.['required'] && password?.dirty) {
              <span>{{ t('card.errors.passwordRequired') }}</span>
            }
            @if (password?.errors?.['minlength'] && password?.dirty) {
              <span>{{ t('card.errors.passwordLength') }}</span>
            }
          </div>
        </div>
        <div class="buttons">
          <gs-buttons
            [buttonType]="buttonType.Link"
            [text]="t('card.buttons.login')"
            type="submit"
            routerLink="/auth/login"
          ></gs-buttons>
          <gs-buttons
            [buttonType]="buttonType.Default"
            [text]="t('card.buttons.confirm')"
            type="submit"
            [disabled]="formGroup.invalid"
            (click)="register()"
          ></gs-buttons>
        </div>
      </form>
    </div>
  </div>
</section>
