<section class="delete-section" *transloco="let t; prefix: 'drivers.delete'">
  <div class="main-content">
    <div class="card">
      <form class="form" (ngSubmit)="delete()">
        <h2>{{ t('card.title') }}</h2>
        <hr class="bar" />
        <div class="card-content">
          <span>{{ t('card.subtitle') }}</span>

          <h3 class="warning-text">{{ t('card.section.warning') }}</h3>

          @if (driver$ | async; as driver) {
            <div class="details-section">
              <h4>{{ t('card.section.details') }}</h4>

              <p>
                <strong>{{ t('card.label.fullName') }}:</strong>
                <span>{{ driver.fullName }}</span>
              </p>

              <p>
                <strong>{{ t('card.label.document') }}:</strong>
                <span>{{ driver.document }}</span>
              </p>

              <hr />

              <h4>{{ t('card.section.contact') }}</h4>

              <p>
                <strong>{{ t('card.label.email') }}:</strong>
                <span>{{ driver.email }}</span>
              </p>

              <p>
                <strong>{{ t('card.label.phoneNumber') }}:</strong>
                <span>{{ driver.phoneNumber }}</span>
              </p>

              <hr />

              <h4>{{ t('card.section.licenseData') }}</h4>

              <p>
                <strong>{{ t('card.label.licenseNumber') }}:</strong>
                <span>{{ driver.licenseNumber }}</span>
              </p>

              <p>
                <strong>{{ t('card.label.licenseValidity') }}:</strong>
                <span>{{ driver.licenseValidity | date: 'dd/MM/yyyy' }}</span>
              </p>

              <hr />

              <h4>{{ t('card.section.associatedClient') }}</h4>

              <p>
                <strong>{{ t('card.label.clientName') }}:</strong>
                <span>{{ driver.client.fullName }}</span>
              </p>
            </div>
          }
        </div>
        <div class="buttons">
          <gs-buttons
            [buttonType]="buttonType.Link"
            [text]="t('card.buttons.back')"
            routerLink="/drivers"
          ></gs-buttons>

          <gs-buttons
            [buttonType]="buttonType.Default"
            [text]="t('card.buttons.confirm')"
            type="submit"
            color="#ff7675"
            hoverColor="#e45757"
            (click)="delete()"
          ></gs-buttons>
        </div>
      </form>
    </div>
  </div>
</section>
