<section class="list-section">
  <div class="main-content">
    <h2>Employees</h2>

    <div class="items-container">
      <gs-buttons
        [buttonType]="buttonType.Link"
        [text]="'Register New Employee'"
        bootstrapIcon="bi-chevron-double-left"
        [target]="targetType.SameTab"
        [variant]="variantType.Outline"
        routerLink="register"
      ></gs-buttons>
      <div class="header-actions">
        @if (showingInactive$ | async; as state) {
          <gs-buttons
            [buttonType]="buttonType.Default"
            [text]="state.isInactive ? 'See Actives' : 'See Inactives'"
            (click)="toggleFilter(state.isInactive)"
          ></gs-buttons>
        }
      </div>
    </div>

    <hr class="bar" />

    <div class="list">
      @for (employee of employees$ | async; track employee.id) {
        <div class="item">
          <div class="card" tabindex="0">
            <div class="card__header">
              <div class="card_title">{{ employee.fullName | titlecase }}</div>
            </div>

            <div class="card__content">
              <div class="info-row">
                <span class="material-icons">badge</span>
                <span>{{ employee.admissionDate | date: 'dd/MM/yyyy' : 'UTC' }}</span>
              </div>
              <div class="info-row">
                <span class="material-icons">attach_money</span>
                <span>{{ employee.salary | currency: 'BRL' : 'symbol' : '1.2-2' }}</span>
              </div>
            </div>

            @if (employee.isActive) {
              <div class="card__actions" align="end">
                <a [routerLink]="['edit', employee.id]">
                  <span class="material-icons">edit</span>
                </a>
                <a class="button button__danger" [routerLink]="['delete', employee.id]">
                  <span class="material-icons">delete</span>
                </a>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</section>
