<section class="forgot-password-section" *transloco="let t; prefix: 'auth.forgot-password'">
  <div class="main-content">
    <div class="card">
      <form [formGroup]="formGroup" class="form" (ngSubmit)="forgotPassword()">
        <input type="text" autocomplete="name" style="display: none" aria-hidden="true" />
        <h3>{{ t('title') }}</h3>
        <hr class="bar" />
        <div class="card-content">
          <div class="form-field full-width">
            <label>{{ t('label.email') }}</label>
            <input
              class="form-input"
              formControlName="email"
              type="email"
              [placeholder]="t('placeholder.email')"
              autocomplete="email"
            />
            @if (email?.errors?.['required'] && email?.dirty) {
              <span class="error-message">{{ t('errors.emailRequired') }}</span>
            } @else if (email?.errors?.['email'] && email?.dirty) {
              <span class="error-message">{{ t('errors.emailLength') }}</span>
            }
          </div>
        </div>
        <div class="buttons">
          <gs-buttons
            [buttonType]="buttonType.Link"
            [text]="t('buttons.login')"
            [variant]="variantType.Outline"
            routerLink="/auth/login"
          ></gs-buttons>
          <gs-buttons
            [buttonType]="buttonType.Default"
            [variant]="variantType.Outline"
            [text]="t('buttons.change')"
            type="submit"
            [disabled]="formGroup.invalid"
            (click)="forgotPassword()"
          >
          </gs-buttons>
        </div>
      </form>
    </div>
  </div>
</section>
