<section class="details-section" *transloco="let t; prefix: 'configuration.update'">
  <div class="main-content">
    @if (configuration$ | async; as configuration) {
      <div class="card">
        <h2>{{ t('card.title') }}</h2>
        <hr class="bar" />
        <div class="card-content">
          <span>{{ t('card.subtitle') }}</span>

          <h3>{{ t('card.section.fuelPrices') }}</h3>

          <div class="form-field">
            <label>{{ t('card.label.gasolinePrice') }}</label>
            <span>{{ configuration.gasolinePrice }}</span>
          </div>

          <div class="form-field">
            <label>{{ t('card.label.gasPrice') }}</label>
            <span>{{ configuration.gasPrice }}</span>
          </div>

          <div class="form-field">
            <label>{{ t('card.label.dieselPrice') }}</label>
            <span>{{ configuration.dieselPrice }}</span>
          </div>

          <div class="form-field">
            <label>{{ t('card.label.alcoholPrice') }}</label>
            <span>{{ configuration.alcoholPrice }}</span>
          </div>
        </div>

        <div class="buttons">
          <gs-buttons
            [buttonType]="buttonType.Link"
            [text]="t('card.buttons.back')"
            routerLink="/home"
          ></gs-buttons>
        </div>
      </div>
    }
  </div>
</section>
