<section class="create-password-section" *transloco="let t; prefix: 'profile.create-password'">
  <div class="main-content">
    <div class="card">
      <form [formGroup]="formGroup" class="form" (ngSubmit)="createPassword()">
        <input type="text" autocomplete="name" style="display: none" aria-hidden="true" />
        <h3>{{ t('title') }}</h3>
        <hr class="bar" />
        <div class="card-content">
          <div class="form-field">
            <label>{{ t('label.newPassword') }}</label>
            <input
              class="form-input"
              formControlName="newPassword"
              type="password"
              [placeholder]="t('label.newPassword')"
              autocomplete="off"
            />
            @if (newPassword?.errors?.['required'] && newPassword?.touched) {
              <span class="error-message">{{ t('errors.required') }}</span>
            } @else if (newPassword?.errors?.['minlength'] && newPassword?.touched) {
              <span class="error-message">{{ t('errors.minLength') }}</span>
            }
          </div>
          <div class="form-field">
            <label>{{ t('label.confirmNewPassword') }}</label>
            <input
              class="form-input"
              formControlName="confirmNewPassword"
              type="password"
              [placeholder]="t('label.confirmNewPassword')"
              autocomplete="off"
            />
            @if (confirmNewPassword?.errors?.['required'] && confirmNewPassword?.touched) {
              <span class="error-message">{{ t('errors.required') }}</span>
            } @else if (confirmNewPassword?.errors?.['minlength'] && confirmNewPassword?.touched) {
              <span class="error-message">{{ t('errors.minLength') }}</span>
            } @else if (formGroup.hasError('passwordMismatch') && confirmNewPassword?.touched) {
              <span class="error-message">{{ t('errors.mismatch') }}</span>
            } @else if (formGroup.hasError('samePasswords') && confirmNewPassword?.touched) {
              <span class="error-message">{{ t('errors.samePassword') }}</span>
            }
          </div>
        </div>
        <div class="buttons">
          <gs-buttons
            [buttonType]="buttonType.Default"
            [variant]="variantType.Outline"
            [text]="t('buttons.change')"
            type="submit"
            [disabled]="formGroup.invalid"
            (click)="createPassword()"
          >
          </gs-buttons>
        </div>
      </form>
    </div>
  </div>
</section>
