<section class="list-section" *transloco="let t; prefix: 'rentals.list'">
  <div class="main-content">
    <h2>{{ t('header.title') }}</h2>

    <div class="items-container">
      <gs-buttons
        [buttonType]="buttonType.Link"
        [text]="t('buttons.register')"
        bootstrapIcon="bi-plus-circle"
        [target]="targetType.SameTab"
        [variant]="variantType.Outline"
        routerLink="register"
      ></gs-buttons>
    </div>

    <hr class="bar" />

    <div class="list">
      @for (rental of rentals$ | async; track rental.id) {
        <div class="item">
          <div class="card" tabindex="0">
            <div class="card__header">
              <div class="card_title">
                {{ rental.vehicle.licensePlate }} | {{ rental.client.fullName | titlecase }}
              </div>

              <span class="status-pill" [attr.data-status]="rental.status">
                {{ rental.status }}
              </span>
            </div>

            <div class="card__content">
              <div class="info-row">
                <span class="material-icons">directions_car</span>
                <span>{{ t('label.driver') }}: {{ rental.driver.fullName }}</span>
              </div>

              @if (rental.rentalExtrasQuantity > 0) {
                <div class="info-row">
                  <span class="material-icons">add_circle_outline</span>
                  <span>+ {{ rental.rentalExtrasQuantity }} {{ t('label.extras') }}</span>
                </div>
              }

              <div class="info-row">
                <span class="material-icons">attach_money</span>
                <span>
                  {{ t('label.estimated') }}:
                  {{ rental.baseRentalPrice | currency: 'BRL' : 'symbol' : '1.2-2' }}
                </span>
              </div>

              <div class="info-row">
                <span class="material-icons">attach_money</span>
                <span>
                  {{ t('label.final') }}:
                  {{ rental.finalPrice | currency: 'BRL' : 'symbol' : '1.2-2' }}
                </span>
              </div>

              @if (rental.returnDate) {
                <div class="info-row">
                  <span class="material-icons">calendar_today</span>
                  <span>
                    {{ t('label.returnDate') }}:
                    {{ rental.returnDate | date: 'dd/MM/yyyy' }}
                  </span>
                </div>
              }

              <div class="card__actions" align="end">
                <a [routerLink]="['details', rental.id]">
                  <span class="material-icons">visibility</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
