@use '../../../../styles/variables' as *;
@use '../../../../styles/form-layout' as *;

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h3 {
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $primary;
  margin: 1.5rem 0 1rem 0;
  display: flex;
  align-items: center;
  gap: 8px;

  &::before {
    content: '';
    width: 4px;
    height: 16px;
    background-color: $primary;
    border-radius: 2px;
    display: inline-block;
  }
}
