@use '../../../../styles/variables' as *;

.login-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  max-width: fit-content;
  padding: 0 50px;
  background-color: $superficie;
  border-radius: 20px;
  box-shadow: $shadow-1, $shadow-2;
}

.card {
  padding: 0.5rem;
}

.bar {
  border: none;
  height: 1px;
  background-color: $primaria-light;
}

.card-content {
  width: 100%;
}

.social-container {
  margin: 0 0 20px 0;
}

.social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  color: $primaria;
  border: 1px solid $borda;
  border-radius: 50%;
  text-decoration: none;

  &:hover {
    color: $primaria-active;
    border: 1px solid $primaria-active;
  }
}

.form-field {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.form-field span {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  color: $perigo;
}

.form-input {
  color: $primaria-active;
  background-color: $superficie-destaque;
  border: 1px solid $borda;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 12px 15px;
  margin: 8px 0 0;
  width: 100%;

  &:hover {
    border: 1px solid $primaria-light;
  }
  &:focus {
    color: $primaria;
    border: 1px solid $primaria-active;
    outline: none;
  }
  &::placeholder {
    color: $primaria-light;
  }
}

.form-field .ng-invalid.ng-dirty {
  color: $perigo;
  border: 1px solid $perigo;
}

.buttons {
  margin: 3rem 0 1rem 0;
  display: flex;
  justify-self: center;
  gap: 20px;
}
