<section class="list-section" *transloco="let t; prefix: 'clients.list'">
  <div class="main-content">
    <h2>{{ t('header.title') }}</h2>

    <div class="items-container">
      <gs-buttons
        [buttonType]="buttonType.Link"
        [text]="t('buttons.register')"
        bootstrapIcon="bi-plus-circle"
        [target]="targetType.SameTab"
        [variant]="variantType.Outline"
        routerLink="register"
      ></gs-buttons>
      <div class="header-actions">
        @if (showingInactive$ | async; as state) {
          <gs-buttons
            [buttonType]="buttonType.Default"
            [text]="state.isInactive ? t('buttons.seeActives') : t('buttons.seeInactives')"
            (click)="toggleFilter(state.isInactive)"
          ></gs-buttons>
        }
      </div>
    </div>

    <hr class="bar" />

    <div class="list">
      @for (client of clients$ | async; track client.id) {
        <div class="item">
          <div class="card" tabindex="0">
            <div class="card__header">
              <div class="card_title">{{ client.fullName | titlecase }}</div>
            </div>

            <div class="card__content">
              <div class="info-row">
                <span class="material-icons">badge</span>
                <span
                  >{{ t('label.type') }}: {{ client.type }} ({{
                    client.document | mask: '000.000.000-00||00.000.000/0000-00'
                  }})</span
                >
              </div>

              <div class="info-row">
                <span class="material-icons">email</span>
                <span>{{ client.email }}</span>
              </div>

              <div class="info-row">
                <span class="material-icons">phone</span>
                <span>{{ client.phoneNumber | mask: '(00) 0000-0000||(00) 00000-0000' }}</span>
              </div>

              <div class="info-row">
                <span class="material-icons">location_on</span>
                <span>{{ client.address.city }}, {{ client.address.state }}</span>
              </div>
            </div>

            @if (client.isActive) {
              <div class="card__actions" align="end">
                <a [routerLink]="['edit', client.id]">
                  <span class="material-icons">edit</span>
                </a>
                <a class="button button__danger" [routerLink]="['delete', client.id]">
                  <span class="material-icons">delete</span>
                </a>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</section>
