# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build - Test - Migrate - Deploy Azure - locadora-de-automoveis-api

on:
  push:
    branches:
      - master
    paths:
      - 'server/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build with dotnet
        run: dotnet build ./server/LocadoraDeAutomoveis.sln --configuration Release

      - name: dotnet publish
        run: dotnet publish ./server/LocadoraDeAutomoveis.sln -c Release -o "${{env.DOTNET_ROOT}}/myapp"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp
  
  test:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
    
      - name: Run tests
        run: dotnet test ./server/LocadoraDeAutomoveis.sln -c Release --verbosity normal
        env: 
          ASPNET_ENVIRONMENT: "GITHUB_ACTIONS"
          SQL_CONNECTION_STRING: ${{ secrets.SQL_CONNECTION_STRING }}
          
  migrate:
    runs-on: windows-latest
    needs: [build, test]
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
    
      - name: Install EF Core CLI
        run: dotnet tool install --global dotnet-ef

      - name: Apply EF Core Migrations
        run: dotnet ef database update --project ./server/infrastructure/orm --startup-project ./server/web-api --configuration Release
        env: 
          ASPNET_ENVIRONMENT: "GITHUB_ACTIONS"
          SQL_CONNECTION_STRING: ${{ secrets.SQL_CONNECTION_STRING }}

  deploy:
    runs-on: windows-latest
    needs: [build, test, migrate]
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D5A39FB3DAC049049BEC52611BCE876C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_21893990BD5745DEB21015F02213B1E4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_54D3012889D148D5B20280A6F0BF085B }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'locadora-de-automoveis-api'
          slot-name: 'Production'
          package: .

          


