<section class="login-section" *transloco="let t; prefix: 'auth.login'">
  <div class="main-content">
    <div class="card">
      <form [formGroup]="formGroup" class="form">
        <h2>{{ t('card.title') }}</h2>

        <hr class="bar" />

        <div class="card-content">
          <div class="social-container">
            <a class="social" aria-label="Sign in with Google" (click)="googleAuth()">
              <i class="fab fa-google" aria-hidden="true"></i>
            </a>
          </div>

          <span class="full-width">{{ t('card.subtitle') }}</span>

          <div class="form-field full-width">
            <input
              class="form-input"
              formControlName="userName"
              type="text"
              [placeholder]="t('card.placeholder.userName')"
              autocomplete="name"
            />
            @if (userName?.errors?.['required'] && userName?.dirty) {
              <span class="error-message">{{ t('card.errors.userNameRequired') }}</span>
            } @else if (userName?.errors?.['minlength'] && userName?.dirty) {
              <span class="error-message">{{ t('card.errors.userNameLength') }}</span>
            }
          </div>

          <div class="form-field full-width">
            <input
              class="form-input"
              formControlName="password"
              type="password"
              [placeholder]="t('card.placeholder.password')"
              autocomplete="current-password"
            />
            @if (password?.errors?.['required'] && password?.dirty) {
              <span class="error-message">{{ t('card.errors.passwordRequired') }}</span>
            } @else if (password?.errors?.['minlength'] && password?.dirty) {
              <span class="error-message">{{ t('card.errors.passwordLength') }}</span>
            }
          </div>
        </div>
        <div class="buttons">
          <div style="display: flex; gap: 10px; flex-direction: column">
            <gs-buttons
              [buttonType]="buttonType.Link"
              [text]="t('card.buttons.password')"
              type="submit"
              [variant]="variantType.Outline"
              routerLink="/auth/forget-password"
            ></gs-buttons>
            <re-captcha
              class="captcha"
              [siteKey]="recaptchaSiteKey"
              [theme]="themeValue"
              (resolved)="onCaptchaResolved($event)"
            >
            </re-captcha>
          </div>
          <gs-buttons
            [buttonType]="buttonType.Link"
            [text]="t('card.buttons.register')"
            [variant]="variantType.Outline"
            routerLink="/auth/register"
          ></gs-buttons>
          <gs-buttons
            [buttonType]="buttonType.Default"
            [text]="t('card.buttons.confirm')"
            type="submit"
            [disabled]="formGroup.invalid"
            (click)="login()"
          ></gs-buttons>
        </div>
      </form>
    </div>
  </div>
</section>
